/* Fuentes */

@font-face {
    font-family: 'jimyreid';
    src: url('../rsc/sex_pistols/Sex_Pistols.ttf');
}

@font-face {
    font-family: 'rubik';
    src: url('../rsc/Rubik_80s_Fade/Rubik80sFade-Regular.ttf');
}

@font-face {
    font-family: 'deftones';
    src: url('../rsc/deftone-stylus/deftone\ stylus.ttf');
}


/*Navbar*/

nav a {
    color: rgb(177, 20, 20) !important;
}

.icon {
    background-color: white;
    padding: 17px;
    width: 20px;
    margin: 1px 2px;
    border-radius: 50%;
}

.icon:hover {
    opacity: 0.4;
    background-color: rgb(177, 20, 20);
}

#guitar_icon {
    background-size: contain;
    background-position: center;
    background-image: url(https://static.thenounproject.com/png/106416-200.png);
}

#cart_icon {
    margin-right: 45px;
    background-size: contain;
    background-position: center;
    background-image: url(https://static.thenounproject.com/png/5641-200.png);
}

#user_icon {
    background-size: contain;
    background-position: center;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png);
}

/*Header*/

header img {
    max-height: 29em !important;
}

header video {
    max-height: 29em !important;
    background-color: black;
}


#logo-slide img {
    background-color: aliceblue;
    width: 15em;
    opacity: 0.5;
}

#caption-slide {
    font-family: 'deftones', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    margin-top: 1em !important;
    font-family: 'jimyreid', 'Courier New', Courier, monospace;
}

/* <------------ Main -----------> */

h5 {
    font-family: 'deftones', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(135, 15, 15);
}

main ul {
    list-style: none;
}

main a {
    text-decoration: none;
}

/* Secciones */

.menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.menu img {
    width: 6em;
}

.menu a {
    position: relative;
    display: block;
    overflow: hidden;
}

.menu a span {
    transition: transform 0.2s ease-out;
}

.menu a span:first-child {
    display: inline-block;
    padding: 10px;
}

.menu a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
}

.menu a:hover span:first-child {
    transform: translateY(100%);
}

.menu a:hover span:last-child,
.menu[data-animation] a:hover span:last-child {
    transform: none;
}

.menu[data-animation="to-right"] a span:last-child {
    transform: translateX(-100%);
}

.menu[data-animation="to-right"] a:hover span:first-child {
    transform: translateX(100%);
}

/* Destacados */

.featured {
    max-width: 30%;
    box-shadow: 0 4px 30px -12px rgba(0, 0, 0, 0.66);
    border-radius: 50px;
    margin: 2%;
}

.featured_img {
    display: flex;
    justify-content: center;
}

.featured_img img {
    max-height: 20em;
}

.featured_text {
    padding-right: 0px !important;
    text-align: right;
}


.featured_decoration {
    width: 100%;
    height: 4em;
    border-radius: 0 50px 0 0;
    background-size: cover;
    background-position: left;
    background-image: url(https://wallpapercave.com/wp/VEe7Pk8.jpg);
}

.featured_title {
    text-align: center;
    margin: 2.5rem 0 1rem 3rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.featured_prize {
    color: rgb(135, 15, 15);
    padding-right: 15%;
}

.featured_button {
    background-color: white;
    margin-right: 15%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.featured_button:hover {
    font-family: 'deftones';
    color: rgb(177, 20, 20);
    border-color: rgb(177, 20, 20);
    box-shadow: 0px 5px 10px 0px rgb(135, 15, 15);
}

/* <------------- Configuracion de Responsividad ----------------> */


/* Pantalla de ordenador */
@media (min-width: 1024px) {
    nav div {
        margin-left: 2em !important;
    }

    .dropdown-item {
        margin-left: 0px !important;
    }

    .nav-link {
        margin-left: 2em !important;
    }

    #search_bar {
        margin-left: 12em;
    }

}

/* Pantalla de tablet */
@media (max-width: 1180px) {
    #search_bar {
        width: 6em;
    }

    header video {
        max-height: 355px !important;
    }

    header img {
        max-height: 355px !important;
    }

    .featured {
        max-width: 60%;
    }

    /* Pantalla de móvil */
    @media (max-width: 416px) {
        #search_bar {
            width: 6em;
        }

        header video {
            max-height: 162px !important;
        }

        header img {
            max-height: 162px !important;
        }

        #sections-main .menu img {
            width: 2.2em;
        }

        #sections-main .menu h5 {
            font-size: 10px;
        }

        main h1 {
            font-size: 2em;
        }

        .featured {
            max-width: 60%;
            max-height: 10em;
        }

        .featured_text {
            text-align: left;
        }

        .featured_img img {
            max-height: 10em;
        }

        .featured_decoration {
            width: 100%;
            height: 2.5em;
        }

        .featured_title {
            margin: 0.3rem 0 0.5rem 1rem;
            font-size: small;
        }
        
        .featured_prize {   
            font-size: 1.5em;
            margin-bottom: 0px;
        }
        
        .featured_button {
            width: 60px;
            height: 2em;
            font-size: 9px;
            margin-bottom: 6px;
        }
    }
}