/* Fuentes */

@font-face {
    font-family: 'jimyreid';
    src: url('../rsc/sex_pistols/Sex_Pistols.ttf');
}

@font-face {
    font-family: 'rubik';
    src: url('../rsc/Rubik_80s_Fade/Rubik80sFade-Regular.ttf');
}

/*Navbar*/

nav a {
    color: rgb(177, 20, 20) !important;
}

.icon {
    background-color: white;
    padding: 17px;
    width: 20px;
    margin: 1px 2px;
    border-radius: 50%;
}

.icon:hover {
    opacity: 0.4;
    background-color: rgb(177, 20, 20);
}

#guitar_icon {
    background-size: contain;
    background-position: center;
    background-image: url(https://static.thenounproject.com/png/106416-200.png);
}

#cart_icon {
    margin-right: 45px;
    background-size: contain;
    background-position: center;
    background-image: url(https://static.thenounproject.com/png/5641-200.png);
}

#user_icon {
    background-size: contain;
    background-position: center;
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/9/99/Sample_User_Icon.png);
}

/*Header*/

header img {
    max-height: 33em !important;
}

header video {
    max-height: 33em !important;
    background-color: black;
}


#logo-slide img {
    background-color: aliceblue;
    width: 15em;
    opacity: 0.5;
}

#caption-slide{
    font-family: 'rubik', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1{
    margin-top: 1em !important;
    font-family: 'jimyreid', 'Courier New', Courier, monospace;
}

/* Configuracion de Responsividad */


/* Pantalla de ordenador */
@media (min-width: 1024px) {
    nav div {
        margin-left: 2em !important;
    }

    .dropdown-item {
        margin-left: 0px !important;
    }

    .nav-link {
        margin-left: 2em !important;
    }

    #search_bar {
        margin-left: 12em;
    }

    .carousel-caption h3, .carousel-caption p{
        color: white;
        font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    }
}

/* Pantalla de tablet */
@media (max-width: 1180px) {
    #search_bar {
        width: 6em;
    }

    header video {
        max-height: 355px !important;
    }

    header img {
        max-height: 355px !important;
    }
}

/* Pantalla de móvil */
@media (max-width: 416px) {
    #search_bar {
        width: 6em;
    }

    header video {
        max-height: 162px !important;
    }

    header img {
        max-height: 162px !important;
    }
}